*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    padding: 30px;
    width: 50%;
    min-height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;
}

.firstDiv, .secondDiv{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#cityName, #searchBtn, .firstDiv > button{
    font-size: 1.2em;
    border: none;
    padding: 10px;
}

.firstDiv > button{
    width: 70%;
}

.firstDiv > p{
    font-size: 1.5em;
    text-align: center;
}

#wearherInfo{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#temp{
    font-size: 4em;
}

#city{
    font-size: 2em;
}

.otherInfo{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wind{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wind > p{
    font-size: 1.5em;
}